<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    {% include 'header.html' %}
    <script>
        function ga_send(){
            // input 태그 중 name이 select1인 태그를 선택해서 
            // 유저가 선택한(checked) value를 변수에 저장
            let s1 = $("input[name='select1']:checked").val()
            // select 태그 중 name이 select2인 태그를 선택해서
            // value를 변수에 저장
            let s2 = $("select[name='select2']").val() 
            // ga에 이벤트를 발생시킨다 -> google event 데이터를 보낸다
            gtag(
                'event',
                'user_select',      // 이벤트의 이름
                {
                    select1 : s1,
                    select2 : s2
                }
            )
        }
    </script>
</head>
<body>
    <form action="/select" method="get">
        <!-- 짜장, 짬뽕 선택(radio) -->
        <div>
            <input type="radio" name="select1" value="짜장">
            <label>짜장</label>
            <input type="radio" name="select1" value="짬뽕">
            <label>짬뽕</label> 
        </div>
        <!-- 부먹, 찍먹 선택(select) -->
        <div>
            <select name="select2">
                <option value="부먹">부먹</option>
                <option value="찍먹">찍먹</option>
            </select>
        </div>
        <input type="submit" onclick="ga_send()">
    </form>
</body>
</html>