<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>select</title>
    {% include 'header.html' %}
    <script>
        function add_cart(){
            gtag(
                'event',
                'add_to_cart',
                {
                    currency : 'KRW',
                    value : 10000,
                    items : [
                        {
                            item_id : 'item_1',
                            item_name : '딸기',
                            item_category : '과일',
                            price : 10000,
                            quantity : 1
                        }
                    ]
                }
            )
        }
        function purchase(){
            gtag(
                'event',
                'purchase',
                {
                    currency : 'KRW',
                    value : 10000,
                    items : [
                        {
                            item_id : 'item_1',
                            item_name : '딸기',
                            item_category : '과일',
                            price : 10000,
                            quantity : 1
                        }
                    ]
                }
            )
        }
    </script>
</head>
<body>
    <p>
        유저가 선택한 값은 {{select1}}과 {{select2}} 입니다.
    </p>
    <button onclick="add_cart()">장바구니 추가</button>
    <button onclick="purchase()">구매하기</button>
    <a href="/">되돌아가기</a>
</body>
</html>